.container-fluid{
    background-color:  rgb(9, 2, 29);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    
}

.navbar-brand{
    color: white;
    font-size: 25px;
    margin-left: 1rem;
}

.nav-link{
    display: flex;
    list-style-type: none;

}

    .ul{
        display: flex;
        margin: 25px;
        
    }

    .li{
        margin: 0 1rem;
        list-style-type: none;
        text-align: right
        
    }

    a {
        text-decoration: none;
        color: white;
        font-weight: bolder;
        margin: 0 20px;
    }


a:hover{
    border: 10px;
    transform: scale(1.5)  
    
}
